.root li {
  height: 32px;
  line-height: 32px;
  display: flex;
}

.searchIcon {
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
}

.searchLabel {
  flex: 1;
  font-size: 12px;
}
