.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  composes: background-theme from '../../../../styles/theme.module.scss';
  height: 50px;
  padding: 5px 10px;
  composes: text-0 from '../../../../styles/theme.module.scss';
}
.menuIcon {
}

.searchIcon {
}
