
/* #828999 #1F2126 #d44439 */

.border-bottom {
  position: relative;
}
.border-bottom::after{
  display: block;
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  bottom: 0;
  height: 1px;
  background-color: #aaaaaa;
  transform: scaleY(0.5);
  transform-origin: 0 100%;
}
