.root {
  position: fixed;
  height: 45px;
  width: 100%;
  z-index: 100;
  display: flex;
  line-height: 40px;
  color: #fff;
  padding-left: 10px;
  padding-bottom: 5px;
}
.headerTitle {
  flex: 1;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
.iconWrapper {
}
.iconWrapper i {
  margin-right: 5px;
  font-size: 16px;
  font-weight: 700;
}
