.listWrap{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.recommendTitle {
  height: 60px;
  line-height: 60px;
  padding-left: 6px;
  font-size: 14px;
  font-weight: 700;
}
.recommendItem {
  width: 120px;
  margin-bottom: 5px;
  position: relative;
}
.recommendItemImage {
  width: 120px;
  height: 120px;
}
.recommendItemImage img {
  display: block;
  width: 100%;
  height: 100%;
}
.recommendItemDesc {
  overflow: hidden;
  margin-top: 2px;
  padding: 0px 2px;
  height: 40px;
  text-align: left;
  font-size: 12px;
  line-height: 20px;
  color: rgb(46, 48, 48);
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
}

.recommendCount{
  position: absolute;
  right: 0;
  top: 4px;
  right: 4px;
  color: rgb(241, 241, 241);
  display: flex;
  align-items: center;
}
.recommendCount i{
  font-size: 14px;
}
.recommendCount span{
  font-size: 12px;
  margin-left: 2px;
}